.feature-menu {
  float: left;
  width: 169px;
  li {
    a {
      display: block;
      line-height: 35px;
      padding-left: 8px;
      &:hover {
        color: $Bordeaux;
      }
      span:hover {
        text-decoration: underline;
      }
    }
    img {
      width: 24px;
      height: 20px;
      vertical-align: middle;
      margin-right: 3px;
    }
  }
  .recipe-menu {
    .recipe-menu__title {
      @include title_bar;
      border-radius: 4px 0 0 0;
      a:visited {
          color: $LightBlack;
      }
    }
    .recipe-menu__list {
      padding: 6px 0 7px 0;
    }
  }
  .p_service-menu {
    .p_service-menu__title {
      @include title_bar;
      @include border-top(#ded5c0);
      img {
        vertical-align: middle;
        height: 16px;
        width: 16px;
      }
      a:visited {
          color: $LightBlack;
      }
    }
    .p_service-menu__list {
      height: 163px;
      padding: 6px 0 7px 0;
    }
    .p_service-menu__more {
      padding: 0 10px 7px 0;
      display: block;
      font-size: 86%;
      font-weight: bold;
      text-align: right;
      a {
        text-decoration: underline;
        color: $DarkBrown;
      }
    }
  }
  .life_service-menu {
    .life_service-menu__title {
      @include title_bar;
      @include border-top(#ded5c0);
      a:visited {
          color: $LightBlack;
      }
    }
    .life_service-menu__list {
      padding-top: 6px;
    }
    .life_service-menu__more {
      padding: 0 10px 7px 0;
      display: block;
      font-size: 86%;
      font-weight: bold;
      text-align: right;
      a {
        text-decoration: underline;
        color: $DarkBrown;
      }
    }
  }
}
