.pro {
  @extend .clearfix;
  .pro-menu {
    position: relative;
    float: left;
    height: 235px;
    width: 323px;
    .pro-menu__title {
      @include title_bar;
      border-radius: 0;
      border-top: 1px solid $LightBrown;
      img{
        vertical-align: middle;
        height: 16px;
        width: 16px;
      }
    }
    .pro-menu-container {
      height: 246px;
      ul {
          @extend .clearfix;
        .pro-menu__list--even {
          float: left;
          width: 55%;
          a {
            display: block;
            padding: 10px 0 10px 3px;
            line-height: 29px;
            height: 29px;
            display: flex;
          }
        }
        .pro-menu__list--odd {
          float: left;
          width: 45%;
          a {
            display: block;
            padding: 10px 0 10px 3px;
            line-height: 29px;
            height: 29px;
            display: flex;
          }
        }
      }
    }
  }
  .pro-recipe-box {
    position: relative;
    float: right;
    height: 234px;
    width: 50%;
    border-left: 1px solid #e8e2d6;
    .pro-recipe-box__title {
      @include title_bar;
      border-radius: 0;
      border-top: 1px solid $LightBrown;
    }
    .pro-recipe-container {
      padding: 10px;
      margin: 0;
      ul {
        .pro-recipe__list {
          margin-bottom: 15px;
          img {
            margin-right: 10px;
            border-radius: 5px;
            vertical-align: middle;
            float:left;
            &:hover {
              opacity: 0.9;
            }
          }
          .pro-recipe__list--user {
            overflow: hidden;
            font-size: 79%;
            color: #999999;
            margin-left: 5px;
            margin-bottom: 10px;
          }
          .pro-recipe__list--name {
            font-size: 108%;
            color: #845f4b;
            font-weight: bold;
          }
        }
      }
    }
  }
}
