.ingredient
  .ingredient__name
    %span
      しらす
  .ingredient__amount
    40g
.ingredient
  .ingredient__name
    %span
      しらす
  .ingredient__amount
    40g
.ingredient
  .ingredient__name
    %span
      しらす
  .ingredient__amount
    40g
