.step
  .step__head
    %h3
      1
  .instruction
    .instruction__photo
      .image
    .instruction__text
      = @flow
.step
  .step__head
    %h3
      1
  .instruction
    .instruction__photo
      .image
    .instruction__text
      アボカドは包丁で縦にぐるりと一周切れ込みを入れ、両手で持ってひねって左右をはずす。種と皮をとり、サイコロ状に切る。
.step
  .step__head
    %h3
      1
  .instruction
    .instruction__photo
      .image
    .instruction__text
      アボカドは包丁で縦にぐるりと一周切れ込みを入れ、両手で持ってひねって左右をはずす。種と皮をとり、サイコロ状に切る。



