.step
  .step__header
    .step__header__left
      .step-position 1
      .step_move_higher ←
      .step_move_lower →
    .step__header__right
      削除 追加
  .step__main
    .step__main_image
      写真を載せる
    .step__main_text
      クリックして作り方を入力
