- flows.each.with_index(1) do |flow, number|
  .step
    .step__head
      %h3
        = number
    .instruction
      .instruction__photo
        .image
          = image_tag(flow.image.to_s, width: "136px")
      .instruction__text
        = flow.text
