.category-list
  %ul
    %li.category__box
      .category__icon.category__icon--vege
        %a{:href => "/"}
      .category__body
        %a.category__title{:href => "/"} 野菜のおかず
        %ul.sub-category-list
          %li
            %a{:href => "/"} ほうれん草
          %li
            %a{:href => "/"} ブロッコリー
          %li
            %a{:href => "/"} 白菜
    %li.category__box
      .category__icon.category__icon--meat
        %a{:href => "/"}
      .category__body
        %a.category__title{:href => "/"} お肉のおかず
        %ul.sub-category-list
          %li
            %a{:href => "/"} 鶏むね肉
          %li
            %a{:href => "/"} 豚肉
          %li
            %a{:href => "/"} 鶏肉
    %li.category__box
      .category__icon.category__icon--fish
        %a{:href => "/"}
      .category__body
        %a.category__title{:href => "/"} 魚介のおかず
        %ul.sub-category-list
          %li
            %a{:href => "/"} 鮭・サーモン
          %li
            %a{:href => "/"} さば
          %li
            %a{:href => "/"} ぶり
    %li.category__box
      .category__icon.category__icon--rice
        %a{:href => "/"}
      .category__body
        %a.category__title{:href => "/"} ごはんもの
        %ul.sub-category-list
          %li
            %a{:href => "/"} ちらし寿司
          %li
            %a{:href => "/"} お祝い・パーティ寿司
          %li
            %a{:href => "/"} 牛丼
    %li.category__box
      .category__icon.category__icon--pasta
        %a{:href => "/"}
      .category__body
        %a.category__title{:href => "/"} パスタ・グラタン
        %ul.sub-category-list
          %li
            %a{:href => "/"} カルボナーラ
          %li
            %a{:href => "/"} グラタン
          %li
            %a{:href => "/"} ペペロンチーノ
    %li.category__box
      .category__icon.category__icon--noodle
        %a{:href => "/"}
      .category__body
        %a.category__title{:href => "/"} 麺
        %ul.sub-category-list
          %li
            %a{:href => "/"} うどん
          %li
            %a{:href => "/"} カレーうどん
          %li
            %a{:href => "/"} 焼きそば
    %li.category__box
      .category__icon.category__icon--salada
        %a{:href => "/"}
      .category__body
        %a.category__title{:href => "/"} サラダ
        %ul.sub-category-list
          %li
            %a{:href => "/"} ポテトサラダ
          %li
            %a{:href => "/"} コールスローサラダ
          %li
            %a{:href => "/"} 生春巻き
    %li.category__box
      .category__icon.category__icon--soup
        %a{:href => "/"}
      .category__body
        %a.category__title{:href => "/"} スープ・汁物
        %ul.sub-category-list
          %li
            %a{:href => "/"} お吸い物
          %li
            %a{:href => "/"} ビーフシチュー
          %li
            %a{:href => "/"} お味噌汁
    %li.category__box
      .category__icon.category__icon--bento
        %a{:href => "/"}
      .category__body
        %a.category__title{:href => "/"} お弁当
        %ul.sub-category-list
          %li
            %a{:href => "/"} 子どもが喜ぶ♪かわ...
          %li
            %a{:href => "/"} 作り置き・冷凍でき...
          %li
            %a{:href => "/"} お弁当のメインおかず
    %li.category__box
      .category__icon.category__icon--hospitality
        %a{:href => "/"}
      .category__body
        %a.category__title{:href => "/"} おもてなし料理
        %ul.sub-category-list
          %li
            %a{:href => "/"} 大皿・メイン料理
          %li
            %a{:href => "/"} 子どものパーティ
          %li
            %a{:href => "/"} 春！おもてなし料理
    %li.category__box
      .category__icon.category__icon--sweets
        %a{:href => "/"}
      .category__body
        %a.category__title{:href => "/"} お菓子
        %ul.sub-category-list
          %li
            %a{:href => "/"} クッキー
          %li
            %a{:href => "/"} ホットケーキミックス
          %li
            %a{:href => "/"} チーズケーキ
    %li.category__box
      .category__icon.category__icon--bread
        %a{:href => "/"}
      .category__body
        %a.category__title{:href => "/"} パン
        %ul.sub-category-list
          %li
            %a{:href => "/"} サンドイッチ
          %li
            %a{:href => "/"} ドーナツ
          %li
            %a{:href => "/"} ピザ
