.category
  .category-title
    %a{:href => "/"} レシピカテゴリ
  = render "recipes/contents/category-list"
  .category__more
    %a{:href => "/"} もっと見る
  = render "recipes/contents/pro"
  = render "recipes/contents/kitchen"
