.contents
  .container
    .contents-main
      = render "recipes/contents/feature-box"
      = render "recipes/contents/recipe-box"
      = render "recipes/contents/kondate-box"
    .contents-side
      .ad
        %a.ad--link{href:  "https://a.cookpad-ads.com/ct?cmp=8723&cr=44880&p=1&s=1&sig=2e2b18c81b6f0d0823ad328c6a1fedcbb51f5d0b&url=http%3A%2F%2Fcookpad.com%2Fhonor_recipe%2F&"}
          .ad--link_image
    .clear_both
