.contents
  .container
    .contents-main
      = render "recipes/contents/feature-box"
      = render "recipes/contents/recipe-box"
      = render "recipes/contents/kondate-box"
    .contents-side
      .ad
        %a.ad--link
          .ad--link_image
    .clear_both
