.top-contents
  .container
    .contents-main
      = render "recipes/contents/feature-box"
      = render "recipes/contents/recipe-box"
      = render "recipes/contents/kondate-box"
    .contents-side
      = render "shares/sidebar"
    .clear_both
