.kondate-box.box
  .kondate-box__title
    献立
  .user-kondates
    .user-kondates__title
      %a{:href => "/"} みんなの献立
    .user-kondates__block
      .user-kondates__block--left
        %a{:href => "/"}
          .user-kondates__block--image
            %img{:src => "https://img.cpcdn.com/user_kondate_infos/181646/140x100c/e370d0f41756d777cac165fcf8c86d3b.jpg?u=3310321&p=1533120701"}/
        .user-kondates__block--right
          .user-kondates__block--name
            チーズタッカルビ
          .user-kondates__block--user
            %img{:src => "https://cdn140.picsart.com/255286547010212.png?r1024x1024"}
            SHOOKY
      %ul
        %li.kondate_categories
          %a.morning{:href => "/"} 朝ごはん
        %li.kondate_categories
          %a.lunch{:href => "/"} 昼ごはん
        %li.kondate_categories_last
          %a.dinner{:href => "/"} 晩ごはん
  .premium-kondate
    .inner
      .premium-kondate__title
        %img{:src => "https://assets.cpcdn.com/assets/sara/icon_ps_medium@2x.png?de96e90792e583e6f866187cdd6dfb8a8cc7a89990c31d4b2d7e09a9a0cbcb98"}
        %a{:href => "/"}プレミアム献立
        %span 8月13日の献立
      .premium-kondate__recipe
        .premium-kondate__box
          .premium-kondate__wrapper
            .premium-kondate__wrapper--images
              .premium-kondate__image--main
                %a{:href => "/"}
                  %img{:src => "https://img.cpcdn.com/recipes/_o1m94185/200x200cq30/b418e45f957c18ec48647a9c3b1d0693.jpg"}
              .premium-kondate__image--sides
                .premium-kondate__image--side
                  %a{:href => "/"}
                    %img{:src => "https://img.cpcdn.com/recipes/_o1i283052/100x100cq30/4dc78639f78de4a50cfa487acdbf8b42.jpg"}
                .premium-kondate__image--side2
                  %a{:href => "/"}
                    %img{:src => "https://img.cpcdn.com/recipes/_o1g26fd90/100x100cq30/3765e73a7bc53e6c12bba40528b78480.jpg"}
              .premium-kondate__image--chopstick
                %img{:src => "https://assets.cpcdn.com/assets/device/themes/premium_kondate_recipes/chop_stick.png?88c4d22140a46b931cd91f0e3ee5c8ccb1d18991cd8171de0d3b60b8bdaa1f34"}
          .premium-kondate__content
            .premium-kondate__content--theme
              今日のテーマ 「ちょっぴり豪華」
            .premium-kondate__content--title
              おもてなしに！簡単！マグロの炙り♪
              %span +2品
          .params_wrapper
            .tsukurepo
              .params_title
                つくれぽ
              .contents
                .icon_font.icf_tsukurepo
                663
                %span
                  人
            .cooking_time
              .params_title
                調理時間
              .contents
                .icon_font.icf_timer
                30
                %span
                  分
            .calorie
              .params_title
                カロリー
              .contents
                .icon_font.icf_calorie
                757
                %span
                  kcal

