.pro
  .pro-menu
    .pro-menu__title
      = image_tag("https://assets.cpcdn.com/assets/sara/icon_ps_medium@2x.png?de96e90792e583e6f866187cdd6dfb8a8cc7a89990c31d4b2d7e09a9a0cbcb98")
      %a{:href => "/"} 専門家厳選レシピ
    %a{:href => "/"}
    .pro-menu-container
      %ul
        %li.pro-menu__list--even
          %a{:href => "/"} 美容・ダイエット
        %li.pro-menu__list--odd
          %a{:href => "/"} 働くママ
        %li.pro-menu__list--even
          %a{:href => "/"} 料理上手
        %li.pro-menu__list--odd
          %a{:href => "/"} ベビー＆ママ
        %li.pro-menu__list--even
          %a{:href => "/"} スポーツ・体づくり
        %li.pro-menu__list--odd
          %a{:href => "/"} キッズ
        %li.pro-menu__list--even
          %a{:href => "/"} からだケア
        %li.pro-menu__list--odd
          %a{:href => "/"} 男の料理
        %li.pro-menu__list--even
          %a{:href => "/"} パパお疲れ様
  .pro-recipe-box
    .pro-recipe-box__title
      %a{:href => "/"} プロのレシピ
    .pro-recipe-container
      %ul
        %li.pro-recipe__list
          %a{:href => "/"}
            = image_tag("https://img.cpcdn.com/recipes/5085007/80x80c/b2d02ac8aabf83e0a59ed4441b0c52e1.jpg?u=10037065&p=1526883337")
            %span.pro-recipe__list--user
              SHOOKY
            %span.pro-recipe__list--name
              キャベツ
        %li.pro-recipe__list
          %a{:href => "/"}
            = image_tag("https://img.cpcdn.com/recipes/5008484/80x80c/9c2dc1f6599d20e8992491a4e925ef0c.jpg?u=10037065&p=1522505665")
            %span.pro-recipe__list--user
              SHOOKY
            %span.pro-recipe__list--name
              きのこ
