#top-wrapper.clearfix
  #wrapper
    #container
      .main650
        #two-col-left.kichen
          #user
            = render "users/user-information", locals: {user: @user}
      = render "shares/sidebar-short"
      .clear_both


