.sk-center {
  margin-top: 10px;
  margin-bottom: 20px;
  display: block;
}

.sk-bottom {
  margin-top: 10px;
}


.main {
  height: 1481px;
  width: 100vw;
  background: #f7f3e8;
  color: #999;
  font-size: 114.5%;
  .header-box {
    background-color: #fff7cc;
    height: 117px;
  }
  .contents {
    height: calc(100vh - 117px);
    width: 970px;
    margin: 0 auto;
    padding-right: 170px;
    &__left {
      background-color: #ffffff;
      width: 650px;
      float: left;
      border: 1px solid #ded5c0;
      padding-bottom: 10px;
      border-radius: 5px;
      .edit-image {
        height: 14px;
        width: 16px;
        vertical-align: middle;
      }
      h3 {
        color: #E0D7C1;
        margin-bottom: 5px;
        font-weight: bold;
      }
      h4 {
        font-weight: bold;
        font-size: 86%;
      }
      &__recipe {
        padding-top: 12px;
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;
        height: 778px;
        width: 608px;
        margin-bottom: 10px;
      }
    }
    &__right {
      height: 1173px;
      width: 300px;
      float: right;
      .side_banner_wrapper {
        height: auto;
        margin-bottom: 20px;
        border-radius: 5px;
        &__recipe_help {
          height: auto;
          border: 1px solid #ded5c0;
          border-radius: 5px;
          background: #ffffff;
          .title_bar {
            padding: 5px 3px 3px 10px;
            color: #4d2200;
            background: #efe1be;
            text-align: left;
            height: 18px;
            width: 285px;
            display: block;
            position: relative;
            .sample_link{
              right: 1em;
              top: 0.5em;
              font-size: 11px;
              color: #666;
              display: inline-block;
              position: absolute;
            }
          }
        }
      }
      .draft_box {
        font-size: 95%;
        text-align: center;
        padding: .8em;
        background: #f5f5f5;
        border: 1px solid #e5e5e5;
        margin-bottom: 1em;
        .edit_recipe {
          .check_guideline {
            font-size: 12px;
            background-color: #ffffff;
            padding: 5px;
            margin-bottom: 5px;
            border: 1px solid #e9e9e9;
            color: #3c3c3c;
          }
          .submit-button {
            height: 23px;
            width: 138px;
            background-color: #f06000;
            background: linear-gradient(to bottom, #ff8a24, #f06000);
            text-shadow: 0 -1px 0 #bd4b00;
            border: 1px solid #cc5200;
            color: #ffffff;
            padding: 8px 10px;
            margin: 10px auto;
            border-radius: 5px;
            font-weight: bold;
            min-width: 160px;
            cursor: pointer;
            font-size: 115%;
          }
        }
      }
      .user_icon_setting {
        position: relative;
        margin-left: 10px;
        margin-bottom: 12px;
        padding: 10px;
        border: 1px solid #DFE3CC;
        background: #FFF;
        h3 {
          text-align: center;
          margin-bottom: 5px;
          font-size: 87.5%;
          color: #3c3c3c;
          font-weight: bold;
        }
        p {
          font-size: 78%;
          padding: 10px;
          background: #fffdef;
          border: 1px solid #e8e7e1;
          color: #49441e;
        }
        .set_icon {
          margin-top: 10px;
          text-align: center;
          .user-icon-box {
            display: inline-block;
            img {
              vertical-align: middle;
            }
            a {
              color: #845f4b;
              font-size: 85%;
            }
          }
        }
        .fukidashi {
          position: absolute;
          top: 32px;
          left: -14px;
        }
      }
    }
  }
}

// .contents__left内の削除、印刷のところ
.recipe_author {
  height: 21px;
  margin-bottom: 10px;
  position: relative;
  &__link_author_kitchen {
    display: inline-block;
  }
  &__link_setting_delete {
    display: inline-block;
    position: absolute;
    font-size: 87%;
    color: #999999;
    top:0;
    right:0;
  }
}


// recipe内の入力する部分(画像、材料、キャッチコピー)
.recipe-main {
  height: 427px;
  .recipe-title {
    height: 34px;
    width: 480px;
    margin-bottom: 10px;
    h1 {
      color: #889b00;
      line-height: 34px;
      font-weight: bold;
      font-size: 30px;
    }
  }
}
// 画像
.recipe-photo {
  height: 383px;
  width: 280px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  .recipe-image {
    display: none;
  }
}
// キャッチコピー,材料
.catchphrase_and_ingredients {
  height: 310px;
  width: 309px;
  display: inline-block;
  float: right;
  // キャッチコピー
  .catchphrase_recipe_author_top {
    height: 71px;
    margin-bottom: 15px;
    .catchphrase{
      height: 44px;
      font-size: 12px;
    }
    .recipe_author_top {
      height: 27px;
      text-align: right;
      padding-top: 4px;
      &__link {
        color: #845f4b;
        .author_icon {
          height: 22px;
          width: 22px;
          vertical-align: middle;
        }
      }
    }
  }
  // 材料
  .ingredients {
    height: auto;
    .ingredient{
      .ingredient-name {
        float: left;
        width: 130px;
        margin-right: 10px;
      }
      .ingredient-amount {
        width: 100px;
      }
      #update_destroy {
        display: none;
      }
    }
  }
}

// 料理ステップ
#cooking-steps {
  min-height: 125px;
  height: auto;
  width: 608px;
  padding-bottom: 15px;
  display: block;
  .step {
    width: 136px;
    display: block;
    float: left;
    font-size: 87.5%;
    margin-right: 15px;
    margin-bottom: 10px;
    &__header {
      display: block;
      height: 27px;
      margin-bottom: 2px;
      &__left {
        display: inline-block;
        float: left;
        color: #999;
        width: 50.17px;
        .step-position {
          color: #E0D7C1;
          font-size: 18px;
          font-weight: bold;
          float:left;
        }
        .step_move_higher {
          float:left;
          cursor: pointer;
        }
        .step_move_lower {
          float:left;
          cursor: pointer;
        }
        .step_move_higher-edit {
          float:left;
          cursor: pointer;
        }
        .step_move_lower-edit {
          float:left;
          cursor: pointer;
        }
      }
      &__right {
        display: inline-block;
        float: right;
        font-size: 87.5%;
      }
    }
    &__main {
      font-size: 87.5%;
      &_image {
        margin-bottom: 2px;
        cursor: pointer;
        .step-image {
          display: none;
        }
      }
      &_text {
        height: 42px;
        textarea {
          width: 136px;
        }
      }
    }
    #update_destroy_flows {
      display: none;
    }
  }
}

// コツ、レシピの生い立ち
.memo_and_history {
  height: 143px;
  .text-content {
    height: 19px;
    font-size: 12px;
  }
  .memo_wrapper{
    height: 48px;
    width: 290px;
    border-right: 1px solid #f5f5f5;
    padding-right: 11px;
    margin-right: 15px;
    display: inline-block;
    float: left;
  }
  .history_wrapper {
    width: 290px;
    height: 143px;
    float: left;
  }
}

// レシピID、公開日、更新日
.meta_data_wrapper {
  height: 22px;
  margin-top: 5px;
  span {
    font-size: 66%;
  }
  .recipe_id_and_published_date {
    height: 16px;
    padding-top: 6px;
    text-align: right;
    .recipe_id {
      padding-right: 9px;
    }
    .published_date {
      padding-right: 9px;
    }
  }
}

// contents-rightのリスト
ul.menu_list_example {
  list-style: none;
  li {
    height: auto;
    width: auto;
    display: block;
    text-align: left;
    color: #330000;
    padding: 3px;
    border: 1px solid #d8d4c5;
    margin-bottom: -1px;
    border-width: 1px 0px;
  }
}

// contents-rightの例
.menu_list_example {
  height: auto;
  border-bottom: 0;
  font-size: 87.5%;
  .example_arrow_top .example_arrow_bottom{
    padding: 3px 3px 3px 28px;
    a {
      text-decoration: none;
    }
    .fa-angle-up {
      height: 8px;
      width: 12px;
      color: #330000;
    }
    .hidden {
      display:none;
    }
  }
  .example_box_yellow {
    color: #666666;
    padding: 10px;
    background-color: #fffdef;
    .notice {
      font-size: 11px;
      color: #666;
    }
  }
}

