$DeepGreen:    #9ac724;
$LightGreen:   #D6D7B9;
$Khaki:        #977847;

$DarkBrown:    #330000;
$Brown:        #e3dcca;
$LightBrown:   #e8e2d6;
$RedBrown:     #4d2200;
$Buccaneer:    #755353;
$Bordeaux:     #663333;
$Chocolate:    #845f4b;
$Coffee:       #2f1c12;
$Chestnut:     #986f4e;

$EarthColor:   #ded5c0;
$YellowOrange: #e0d7c1;
$YellowGray:   #d6d2b7;
$YellowWhite:  #f3eecf;
$LightOrange:  #ff8c1a;
$Orange:       #ff9933;
$BrightOrange: #ff6600;
$Red:          #e81a37;

$Cream:        #faf3e3;
$CreamYellow:  #ffffd3;
$Ivory:        #f7f3e8;
$White:        #ffffff;

$DarkGray:     #4c4c4c;
$FeatherGray:  #e5e5e5;
$LightGray:    #999999;
$Gray:         #666666;
$StoneGray:    #cccccc;
$SnowGray:     #ececec;
$PaleGrey:     #e0e0e0;
$LightBlack:   #3c3c3c;
$WhiteGray:    #eeeeee;
