#kondate_search_wrapper {
  margin-top: 25px;
  padding-left: 50px;
}

.kondate_header {
  .kondate_header_left {
    height: 100%;
    float: left;
  }
  .kondate_header_right {
    height: 100%;
    padding-top: 15px;
  }
}

.kondate_keyword {
  margin-top: 5px;
  margin-left: 100px;
}

.clear_fix:after {
  display:block;
  clear: both;
  content: "";
}

#main {
  #kondate_wrapper {
    background: #ffffff;
    border: 1px solid #e3dcca;
    border-radius: 5px;
    #kondate_index_contents {
      margin: 0 20px 10px;
    }
    #recent_kondate {
      h2.title {
        margin: 20px 20px 0;
        padding: 0;
        font-size: 14px;
      }
      .kondate_previews {
        padding: 20px;
        margin: 0;
        .kondate_list_view {
          overflow: hidden;
          margin-bottom: 15px;
          .kondate_image {
            float: left;
            margin-right: 10px;
            padding: 4px;
            border: 1px solid #cccccc;
            border-right: 1px solid #999999;
            border-bottom: 1px solid #999999;
            width: 150px;
            height: 150px;
          }
          .kondate_infos {
            overflow: hidden;
            padding: 0 5px;
            min-height: 185px;
          }
        }
      }
    }
  }
}

.kondate_pickup_view {
  float: left;
  width: 190px;
  margin-right: 10px;
  .kondate_image {
    height: 180px;
    width: 180px;
    padding: 4px;
    border: 1px solid #cccccc;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
  }
}

.kondate_title {
  margin-top: 5px;
  a {
    font-weight: bold;
    color: #845f4b;
    text-decoration: underline;
  }
}
.kondate_recipe_count {
  font-weight: normal;
  font-size: 12px;
  color: #999999;
}
.kondate_recipes {
  margin: 5px 0;
}
.kondate_other_recipes {
  font-size: 12px;
  color: #999999;
}
.kondate_description {
  color: #808080;
}


.kondate_status_icon {
  float: left;
  height: 20px;
  width: 20px;
  background-color: #845f4b;
  color: #f4f4f9;
  font-weight: bold;
  text-align: center;
  margin-right: 5px;
}

.show_more_kondates_btn {
  margin-top: 10px;
  float: right;
  a {
    font-size: 16px;
    font-weight: bold;
    color: #845f4b;
    text-decoration: underline;
  }
}

.write_kondate_btn {
  margin-top: 30px;
  text-align: center;
}

.category_segment {
  .three_column {
    font-size: 15px;
    width: 33%;
    float: left;
  }
}

.premium_kondate {
  padding-top: 0;
  margin-bottom: 10px;
  a {
      position: absolute;
      right: 10px;
      font-weight: normal;
      text-decoration: underline;
  }
}
