.kitchen_recipe_container {
  #two_contents_wrapper {
    overflow: visible;
    margin: 10px 15px;
    #kitchen_side {
      float: left;
      width: 157px;
      border-right: 1px solid #D6D7B9;
      position: relative;
      left: 1px;
      .kitchen_side_wrapper {
        margin-bottom: 20px;
        h3.content_title {
          border-bottom: 1px solid #D6D7B9;
          color: #C1C1A6;
          font-size: 14px;
          font-weight: normal;
          margin-bottom: 6px;
          padding-bottom: 1px;
        }
        li {
          margin: 2px 0;
          font-size: 14px;
          a {
            text-decoration: none;
            padding: 2px;
          }
        }
        li.selected {
          background-color: #EFEFE4;
          padding: 2px 0;
          font-weight: bold;
        }
        span.item_count {
          font-size: 12px;
          font-weight: normal;
          color: #999;
        }
      }
    }
    #kitchen_main {
      border-left: 1px solid #D6D7B9;
      float: right;
      padding-left: 13px;
      width: 438px;
      margin-right: 0;
      .recipe_list_header {
        position: relative;
        margin-bottom: 10px;
      }
    }
  }
}

.recipe_preview {
  position: relative;
  padding-right: 25px;
  margin-bottom: 15px;
  overflow: visible;
  .recipe_image {
    position: relative;
    float: left;
    min-height: 100px;
    width: 100px;
    margin-right: 10px;
    background-color:#f5f5f5;
    a {
      display: block;
    }
  }
  .recipe_text {
    .recipe_description {
      padding-top: 6px;
      padding-bottom: 5px;
      line-height: 130%;
      color: #808080;
      font-size: 13px;
    }
    .recipe_ingredients {
      margin-bottom: 3px;
      line-height: 1.2em;
      font-size: 88%;
      color: #cfaa80;
    }
  }
}
