html {
  background-color: $base-background-color;
}

body {
  background-color: $base-background-color;
  #top-wrapper {
    background-color: $base-background-color;
    #wrapper {
      background-color: $base-background-color;
      padding-right: 170px;
      text-align: center;
      width: 970px;
      min-width: 970px;
      margin: 0px auto;
      #container {
        text-align: left;
        width: 970px;
        margin: 0 auto;
        padding: 0px;
        #contents {
          padding-bottom: 1px;
          margin-bottom: 24px;
          #main {
            float: left;
            width: 650px;
          }
        }
      }
    }
  }
}

.hidden {
  display: none;
}
.right {
  text-align: right;
}
.recipe_title {
  color: #889b00;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.box {
  border-radius: 5px;
  background: #ffffff;
  border: 1px solid #ded5c0;
}
.clear_both {
  clear: both;
}

a:link {
  color: #330000;
}
a.recipe_title:link {
  color: #889b00;
  font-weight: bold;
}

a:visited {
  color: #845f4b;
}
a.recipe_title:visited {
  color: #889b00;
  font-weight: bold;
}

.separate_right {
  position: absolute;
  right: 0px;
  bottom: 0;
}
.paging_top {
  float: right;
  font-weight: normal;
}

.title {
  padding: 0 0 3px 0;
  margin: 10px 0;
  font-weight: bold;
  position: relative;
  color: #4d2200;
}

.myfolder {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  color: #ff9933;
  font-size: 16px;
}

.clearfix:after {
  content: "";
  clear:both;
  display: block;
}

.recipe_sub_title {
  font-size: 16px;
  margin-bottom: 8px;
  color: #e0d7c1;
  font-weight: bold;
}


.search_submit_button {
  padding: 8px 10px;
  margin: 10px 0;
  border: 1px solid #cccccc;
  background: #ececec;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  min-width: 160px;
  color: #3c3c3c;
  text-align: center;
  vertical-align: middle;
  text-decoration: none !important;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
}

.search_submit_button.small {
  padding: 3px 9px;
  margin: 3px 0;
  min-width: 60px;
  border-radius: 3px;
  font-weight: normal;
  font-size: 86%;
}

.search_submit_button.new_recipe {
  padding: 3px 9px;
  margin: 3px 20px;
  min-width: 100px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 86%;
}

.return_top {
  color: #4d2200;
  font-weight: bold;
  padding-left: 17px;
}

.return_top:after {
  color: #eee;
  content: "|";
  padding: 0 5px 0 5px;
}

.header_recipe_count {
  position: absolute;
  top: 29px;
  right: 20px;
  bottom: auto;
  text-align: center;
  width: 50px;
  letter-spacing: -1px;
  .recipe_count_body {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #ff9933;
    line-height: 0.8;
    .small {
      font-size: 10px;
      letter-spacing: 0;
    }
  }
}

.image_width_92 {
  width: 92px;
}

.image_width_100 {
  width: 100px;
}

.image_width_550 {
  width: 550px;
}

.image_wh_56x56 {
  width: 56px;
  height: 56px;
}

.image_wh_73x73 {
  width: 73px;
  height: 73px;
}

.image_wh_80x80 {
  width: 80px;
  height: 80px;
}

.image_wh_94x94 {
  width: 94px;
  height: 94px;
}

.image_wh_137x98 {
  width: 137px;
  height: 98px;
}

.image_wh_130x130 {
  width: 130px;
  height: 130px;
}

.image_wh_150x150 {
  width: 150px;
  height: 150px;
}

.image_wh_180x180 {
  width: 180px;
  height: 180px;
}

.image_wh_236x236 {
  width: 236px;
  height: 236px;
}

.image_wh_264x54 {
  width: 264px;
  height: 54px;
}

.image_wh_447x251 {
  width: 447px;
  height: 251px;
}

.font12 {
  font-size: 12px;
}

.font18 {
  font-size: 18px;
}

.font20 {
  font-size: 20px;
}

.gray {
  color: #999999;
}

.deep_green {
  color: #8b9d06;
}

.light-blue {
  color: #34b0b1;
}

.light-green {
  color: #9cc536;
}

.pink {
  color: #fda1b1;
}

.deep_yellow {
  color: #dcd77d;
}

.orange {
  color: #fd9940;
}

.light_purple {
  color: #c38bac;
}

.bronze {
  color: #845f4b;
}
