header {
  min-width: 970px;
  overflow: hidden;
  background-color: #f7f3e8;
  padding-right: 170px;
  .header_container {
    width: 100vw;
    background-color: white;
    border-bottom: 1px solid #e3dcca;
    height: 34px;
    &.global_menu {
      margin: 0 auto;
      background-color: white;
      width: 970px;
      padding-right: 170px;
      .global_menu.f_left {
        font-size: 100%;
        float: left;
        margin-top: 7px;
        margin-bottom: 2px;
      }
      .global_menu.f_right {
        float: right;
        height: 34px;
        box-sizing: border-box;
        position: relative;
        .config_dropdown_menu {
          display: block;
          position: absolute;
          top: 31px;
          right: 0;
          bottom: auto;
          left: auto;
          z-index: 300;
          border-radius: 0 0 5px 5px;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          background: #ffffff;
          border: 1px solid #e3dcca;
          border-top: 1px solid #ffffff;
          padding: 0 10px;
        }
        ul.user_menu.list_inline {
          line-height: 34px;
          li {
            font-size: 100%;
            display: inline-block;
            padding-left: 10px;
            &.user_name.user_function_link a {
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
            &.config {
              float: right;
              margin-top: 0px;
              display: block;
              cursor: pointer;
              margin-right: 0;
              & #user_menu_config {
                position: relative;
                .user_function_link {
                  margin-top: 7px;
                }
                #setting_tip {
                  display: block;
                  border-radius: 5px;
                  position: absolute;
                  background-color: #4E2100;
                  color: #ffffff;
                  font-weight: bold;
                  margin-top: 0px;
                  opacity: 0.7;
                  padding: 0px;
                  top: 40px;
                  left: -15px;
                  height: 30px;
                  line-height: 30px;
                  width: 50px;
                  text-align: center;
                  font-size: 93%;
                  z-index: 200px;
                  &:before {
                    content: "";
                    position: absolute;
                    top: -15px;
                    left: 50%;
                    margin-left: -7px;
                    border: 7px solid transparent;
                    border-bottom: 10px solid #4E2100;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .header_inner {
    margin: 0 auto;
    height: 82px;
    width: 970px;
    a.logo {
      width: 264px;
      height: 54px;
      img.service_logo.f_left {
        margin-top: 14px;
        margin-right: 12px;
        vertical-align: middle;
        float: left;
      }
    }
    .search_form_wrapper {
      float: left;
      margin-top: 14px;
      padding-left: 27px;
      .keyword_input {
        display: inline-block;
        position: relative;
        .search_icon {
          position: absolute;
          overflow: visible;
          left: 9px;
          top: 9px;
        }
        .search-field.global_search_keyword {
          background: #ffffff url(/assets/global/icon_header_search.png?7257b35…) 7px 50% no-repeat;
          margin-right: 0;
          padding-left: 27px;
          width: 210px;
          height: 25px;
          border-radius: 3px;
          font-size: 86%;
          border-color: #d1c6a9;
        }
        #submit_button {
          font-size: 100%;
          border-color: #d1c6a9;
          border-radius: 3px;
          padding: 0px 7px;
          margin: 0;
          text-shadow: 0 1px 0 #ffffff;
          box-shadow: none;
          outline: none;
          font-weight: normal;
          height: 30px;
        }
      }
      ul.keyword_list li {
        display: inline-block;
        height: 23px;
        font-size: 93%;
        letter-spacing: -0.3px;
        img {
          padding-top: 5px;
        }
      }
    }
    ul.my_menu {
      margin-top: 10px;
      float: right;
      display: inline-block;
      li.my_folder {
        text-align:right;
        padding-right: 10px;
        height:36px;
        width: 132px;
        position: relative;
        a {
          color: #330000 !important;
          line-height: 36px;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        .my_folder_img {
          position: absolute;
          top: 0px;
          left: 14px;
        }
      }
      li {
        display: inline-block;
        .btn-new-recipe {
          display: block;
          width: 110px;
          border-radius: 4px;
          box-shadow: none;
          font-size: 100%;
          border: none;
          font-weight: bold;
          margin: 0 0 7px 0;
          padding: 0 10px;
          height: 32px;
          line-height: 34px;
          background: linear-gradient(to bottom, #aec853, #8fa836);
          cursor: pointer;
          font-size: 93%;
          text-align: center;
          box-sizing: inherit;
          color: #f7f3e8;
          text-decoration: none;
          &:hover {
            text-shadow: 0 -1px 0 #6e8129;
            opacity: 0.9;
          }
        }
        .my_folder {
          margin: 2px 7px 2px 0;
          &_button {
            font-size: 100%;
            margin-top: 3px;
            text-align: center;
            line-height: 38px;
          }
        }
      }
    }
  }
}
#fade-bg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  float: right;
  z-index: 1;
}

footer {
  margin-top: 0;
  box-sizing: border-box;
  background-color: #f7f3e8;
  .mega_footer {
    font-size: 87.5%;
    display: block;
    padding-top: 240px;
    text-align: center;
    width: 100vw;
    height: 425px;
    .mega_footer_inner {
      height: 240px;
      margin: 0 auto;
      padding: 0 0 20px 0;
      text-align: left;
      width: 970px;
      .grid {
        float: left;
        width: 20%;
        font-size: 100%;
        margin-top: 20px;
        margin-bottom: 0;
        padding: 0 0 3px 0;
        color: #4d2200;
        line-height: 1.5;
        & .title {
          font-size: 122%;
          font-weight: bold;
        }
        & ul li {
          padding: 5px 0;
        }
      }
    }
    .footer_content_wrapper {
      margin: 0 auto;
      border-top: 1px solid #e8e2d6;
      padding-top: 20px;
      width: 970px;
      text-align: left;
      display: block;
      .footer_links {
        border-bottom: 0;
        margin-bottom: 10px;
        font-size: 105%;
        .footer_content_title {
          font-weight: bold;
          width: 80px;
          float: left;
          color: #4d2200;
        }
        .footer_content_list li {
          float: left;
          padding-right: 10px;
          font-size: 95%;
        }
      }
      .block20_0 {
        padding: 20px 0;
        margin: 0;
        clear: both;
        .f_left {
          font-size: 92%;
          padding: 5px 0;
          color: #4d2200;
          float: left;
        }
      }
    }
  }
}





