@import "./reset";
// @import "bootstrap/bootstrap";
// @import "bootstrap/bootstrap-grid";
@import "modules/reset";
@import "modules/color";
@import "modules/base";
@import "modules/mixin";
@import "modules/boxes";
@import "config/variables";
@import "common/cookpad";
@import 'font_awesome5';
@import "font-awesome";
@import "./index";

@import "kitchen/kitchen";
@import "kitchen/contents-top";
@import "kitchen/contents-recipe";
@import "kitchen/contents-tsukurepo";
@import "kitchen/contents-kondate";
@import "./recipes/new";
@import "./recipes/show";
@import "devise";
@import "contents/contents";
@import "user-edit";
@import "modaal.min";
@import "myfolder/myfolder";
@import "search/search";
@import "./history-sidebar";
