.kondate-box {
  border-top: 6px solid $DeepGreen;
  height: 269px;
  .kondate-box__title {
    color: $DeepGreen;
    padding-bottom: 5px;
    margin: 10px 0;
    position: relative;
    font-size: 158%;
    border-bottom: 1px solid $LightBrown;
    font-weight: normal;
    margin-bottom: 0;
    padding-left: 50px;
    padding-bottom: 8px;
  }
  .user-kondates {
    float: left;
    width: 323px;
    .user-kondates__title {
      @include title_bar;
    }
    .user-kondates__block {
      padding: 10px;
      margin: 0;
      .user-kondates__block--left {
        height: 110px;
        .user-kondates__block--image {
          margin-right: 10px;
          float: left;
          img {
            vertical-align: middle;
            border-radius: 5px;
          }
        }
      }
          .user-kondates__block--right {
            overflow: hidden;
            zoom: 1;
            .user-kondates__block--name {
              font-size: 115%;
              font-weight: bold;
              margin-bottom: 3px;
            }
            .user-kondates__block--user {
              font-size: 93%;
              color: #666666;
              img {
                border-radius: 0;
                width: 20px;
                height: 20px;
                vertical-align: middle;
              }
            }
        }
      }
      ul {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #e8e2d6;
        .kondate_categories {
          float: left;
          width: 100px;
          border-right: 1px solid #e8e2d6;
          a {
            display: block;
            line-height: 30px;
            padding-left: 40px;
          }
          a.morning {
            background-image:image-url("user_kondate_icons.png");
            background-repeat: no-repeat;
            background-position: 3px -5px;
          }
          a.lunch {
            background-image:image-url("user_kondate_icons.png");
            background-repeat: no-repeat;
            background-position: 3px -46px;
          }
        }
        .kondate_categories_last {
          float: left;
          width: 100px;
          border-right: none;
          a {
            display: block;
            line-height: 30px;
            padding-left: 40px;
          }
          a.dinner {
            background-image:image-url("user_kondate_icons.png");
            background-repeat: no-repeat;
            background-position: 3px -90px;
          }
        }
      }
    }
  }
  .premium-kondate {
    float: right;
    width: 50%;
    .inner {
      border-left: 1px solid #e8e2d6;
      .premium-kondate__title {
        @include title_bar;
        img {
          width: 16px;
          height: 18px;
        }
        span {
          font-size: 79%;
          background: none;
          float: right;
          bottom: 4px;
          font-weight: normal;
        }
      }
      .premium-kondate__recipe {
        @extend .clearfix;
        padding: 8px;
        margin: 0;
        .premium-kondate__box {
          height: 110px;
          .premium-kondate__wrapper {
            height: 120px;
            width: 170px;
            float: left;
            border-radius: 5px;
            position: relative;
            .premium-kondate__wrapper--images {
              margin: auto 4px;
              position: absolute;
              top: 7px;
              .premium-kondate__image--main {
                position: absolute;
                top: 2px;
                left: 5px;
                width: 84px;
                height: 84px;
                border-radius: 999px;
                border: 5px solid #ffffff;
                overflow: hidden;
              }
              .premium-kondate__image--side {
                position: absolute;
                top: -3px;
                left: 105px;
                width: 44px;
                height: 44px;
                border-radius: 999px;
                border: 4px solid #ffffff;
                overflow: hidden;
                img {
                  width: auto;
                  height: 100%;
                  border-radius: 5px;
                  vertical-align: baseline;
                }
              }
              .premium-kondate__image--side2 {
                position: absolute;
                top: 52px;
                left: 105px;
                width: 44px;
                height: 44px;
                border-radius: 999px;
                border: 4px solid #ffffff;
                overflow: hidden;
                img {
                  width: auto;
                  height: 100%;
                  border-radius: 5px;
                  vertical-align: baseline;
                }
              }
              .premium-kondate__image--chopstick {
                position: absolute;
                margin: 0 auto;
                left: 58px;
                top: 95px;
                width: 60px;
                img {
                  width: 100%;
                  border-radius: 0px;
                }
              }
            }
          }
          .premium-kondate__content {
            float: left;
            width: 130px;
            padding: 5px 0 0 7px;
            @extend .clearfix;
            .premium-kondate__content--theme {
              font-size: 12px;
              color: #4d2200;
            }
            .premium-kondate__content--title {
              font-size: 16px;
              color: #889b00;
              font-weight: bold;
            }
              span {
                color: #4d2200;
                font-size: 12px;
              }
          }
          .params_wrapper {
            position: relative;
            display: flex;
            justify-content: space-around;
            margin: 0 5px 5px;
            height: 47px;
            width: 297px;
            @extend .clearfix;
            .tsukurepo {
              width: 80px;
              border-right: 1px solid #e8e2d6;
              .params_title {
                margin: 6px 0 -1px;
                font-size: 10px;
                color: #666666;
                text-align: center;
              }
              .contents {
                font-size: 16px;
                text-align: center;
                color: #3c3c3c;
                margin-left: -3px;
                span {
                  font-size: 12px;
                  margin-left: -4px;
                }
              }
            }
            .cooking_time {
              width: 80px;
              border-right: 1px solid #e8e2d6;
              .params_title {
                margin: 6px 0 -1px;
                font-size: 10px;
                color: #666666;
                text-align: center;
              }
              .contents {
                font-size: 16px;
                text-align: center;
                color: #3c3c3c;
                margin-left: -3px;
                span {
                  font-size: 12px;
                  margin-left: -4px;
                }
              }
            }
            .calorie {
              width: 80px;
              .params_title {
                margin: 6px 0 -1px;
                font-size: 10px;
                color: #666666;
                text-align: center;
              }
              .contents {
                font-size: 16px;
                text-align: center;
                color: #3c3c3c;
                margin-left: -3px;
                span {
                  font-size: 12px;
                  margin-left: -4px;
                }
              }
            }
          }
        }
      }
    }
  }

